/* Colors:
Green: #c1e40e
Orange: #fc713a
Dark Gray: #42413f
Light Gray: #757776
White: #ffffff */

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  border: 0;
  display:block;
}

title {
	display: none;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-size: 3rem;

}

h2 {
	color: #000000;
	text-align: center;
	font-size: 2rem;

}
h3 {
	color: #ffffff;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 40%;

}

h4 {
	color: #fc713a;
	font-size: 1rem;
	padding: 2%;

}

#tag1 {
	color: #ffffff;
	text-align: center;
	font-size: 1.5rem;
}

#tag2 {
	color: #fc713a;
	text-align: center;
}

#head-text {
	width: 55%;
	float: right;
	padding: 4%;
	color: white;
}

nav {
	margin: auto;
	text-align: center;
	font-size: 1rem;
	padding: 0.5%;
	float: right;

}

nav ul {
	list-style-type: none;

}

nav ul li{
	color: #fc713a;
	display: inline;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1rem;

}

#location {
	color: #000000;
	font-weight: bold;
	background-color: #c1e40e;
	border-radius: 15px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;

}

#order {
	color: #ffffff;
	font-weight: bold;
	background-color: #fc713a;
	border-radius: 15px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}

#buttons {
	text-align: center;
}

#buttons li {
	display: inline;
}

#contact-button {
	color: #c1e40e;
	border-radius: 50px;
    border: 2px solid #c1e40e;
    padding: 1%; 
    width: 75px;
    height: 30px;
}

#order-button {
	color: #fc713a;
	border-radius: 50px;
    border: 2px solid #fc713a;
    padding: 1%; 
    width: 75px;
    height: 30px;
}

#bkimg {
	background-image: url(../img/banner-bg.png);
	background-position: right center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto;
	height: 400px;
	margin: auto;
}

.arts {
	height: 300px;
	min-width: 300px;
	margin: 5px;
} 

#art1, #art2, #art3, #art4, #art5, #art6 p {
	text-align: center;
	font-weight: bold;
}

#art1 {
	background-image: url(../img/story-bg.png);
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;

}

#art2 {
	background-image: url(../img/menu-bg.png);
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
}

#art3 {
	background-image: url(../img/order-bg.png);
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
}

#art4 {
	background-image: url(../img/auburn-bg.png);
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
}

#art5 {
	background-image: url(../img/alabama-bg.png);
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
}

#art6 {
	background-image: url(../img/florida-bg.png);
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
} 


footer {
	background-color: #42413f;
	background-image: url(../img/gradient.png);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 2500px;
	color: #ffffff;
	margin: auto;
}

.footsm {
	padding: 2%;
	margin: 2%;
}

.footsm li img {
	max-width: 50px;
	padding: 2%;
}